<% content_for :html_head do %>
<style type="text/css">
  .style1 {font-size: 12px}
</style>
<% end %>

<%= render "layouts/header" %>

<p style="font-weight: normal; font-size: 12px; color: #383740">
<br />
<br />
<br />
<b>ARTIST STATEMENT</b>
<br/>
<br/>
My research and artistic practice question the political, scientific, economic, and social systems surrounding energy production through both a global and local lens.  I am interested in how these systems are intrinsically tied to the land and its development, and the contemporary condition of a planetary environmental consciousness.
<br />
<br />
Through exploration of structures that represent fossil fuel production within our landscape such as coal mines, power plants and oil refineries, I approach the issue of power production with awareness of its ecological connection.  I reach out to a variety of professionals such as economists, journalists, engineers, and scientists, to implement an interdisciplinary approach to art and with a careful eye for observation, can integrate ideas and move beyond traditional boundaries.
<br />
<br />
I use my position as an artist to create a visual conversation that challenges our inherited system of electricity creation and distribution.  I record and respond to research with art making to better understand the world as a contingent network that is fluid and changeable.
<br />
<br />
Through informal notations of DIY energy projects, studies on sustainability,  and a diverse artistic tool kit that includes photography, drawing, sculptural installation and video, I investigate the importance of abundant sustainable energy and explore what is possible  through reflection, creativity and invention.  <br />
</p>
<p><span class="style1">&nbsp;</span></p>
<p><img src="images/galleries/transfers/large/scienceofaneweconomy.jpg" width="689" height="119"></p>

<%= render "layouts/footer" %>
