<% content_for :html_head do %>
<style type="text/css">
  .style1 {font-size: 12px}
</style>
<% end %>

<%= render "layouts/header" %>
  <p><br />
      <span class="style1"><br />


     <br/>
  <b>ARTIST STATEMENT</b><br/>
	<br/>
      I use the traditional media of drawing and painting as well as new media such as digital photography and sculptural installation, to explore the American and global relationship with power production and energy. I hope to create a dialogue that helps us understand the technological, economical and environmental issues surrounding the power industry. Through research and exploration of the structures that represent power within our landscape such as power plants, refineries and powerlines, I am interested in  the changing views of our landscape and environment over time and how our idea of landscape changes based on technological, societal and industrial progress. I am also investigating our relationship as end users of the supplied power and our dependency on these physical, political and economic systems. </span></p>
  <p class="style1">By documenting my role in this power structure, I hope to better understand these practices and how we view, participate in and change them.  I am also interested in the environmental aspect of this larger power issue and how our modern landscape can be preserved or destroyed in these processes. What I try to address in my work are the challenges we face as we advance and rely on energy supplied by fossil fuels. However, my work is not a critique of progress. I understand the importance of energy, especially for the advancement of communication which brings peace and furthers education. My work instead comments on the over consumption of wasted energy supplied by oil and coal. I am also attempting to understand in my work, the continued search for new energy sources and to shed some light on the companies and government agencies we rely on to move us forward in this direction. <br />
  </p>
  <p><span class="style1">  </span></p>
  <p><img src="/images/galleries/transfers/large/scienceofaneweconomy.jpg" width="689" height="119">  </p>
<%= render "layouts/footer" %>
