<% content_for :html_head do %>
  <style type="text/css">
    .style1 {font-size: 11px}
    .style2 {font-size: 12px}
  </style>
<% end %>

<%= render "layouts/header" %>
<p>
<br />
<span class="style1">
  <br />
  <b>CONTACT</b>
  <br/>
  <br/>
  Eileen T. Wold<br/>
  1409 William Street <br />
  Baltimore, MD 21230<br/>
  info@eileenwold.com<br>
  <br/>
  <br/>
  <b class="header">PRESS</b>
  <br/>
  <br/>

  <b>Eye On: Eileen Wold,  </b>
  By Jill Gordon, 11/27/12
  <a href="http://www.bmoreart.com/2012/11/eye-on-eileen-wold-by-jill-gordon.html" target="_blank">Bmore Art</a>
  <br/>


  <b>Water Sonettos,  </b>
  By Baynard Woods, 5/9/12
  <a href="http://citypaper.com/arts/visualart/em-water-sonettos-em-1.1312339?pgno=2" target="_blank">Baltimore City Paper</a>
  <br/>


  <b>Eileen Wold inspires as activist artist,  </b>
  By Kim Hall,11/17/11
  <a href="http://magazine.loyola.edu/issue/alumni/2565/activist-artist" target="_blank">Loyola University Magazine</a>
  <br/>

  <b>Artist Portrays Baltimore's Degraded Harbor,  </b>
  By Timothy B. Wheeler,2/3/11
  <a href="http://www.baltimoresun.com/features/green/bs-gr-harbor-art-show-20110203,0,1324554.story" target="_blank">The Baltimore Sun</a>
  <br/>

  <b>'Empty Waters' Artist Delves Into Baltimore Harbor,  </b>
  By Libby Zay, 2/10/11
  <a href="http://www.citysbest.com/baltimore/news/2011/02/10/empty-waters-artist-delves-deep-into-baltimore-harbor/" target="_blank">www.citysbest.com</a>
  <br/>

  <b>Awareness Through Art: Eileen Wold,  </b>
  By Kate McGinley, 2/14/11
  <a href="http://www.loyolagreyhound.com/arts/awareness-through-art-eileen-wold-1.1979293" target="_blank">Loyola Greyhound</a>
  <br/>

  <b>An Artist Eyes Baltimore Harbor's Woes </b>
  <a href= "http://weblogs.baltimoresun.com/features/green/2011/02/an_artist_eyes_baltimore_harbo.html" target="_blank">B'more    Green Blog</a>
  <br />

  <b>Artist Eileen Wold,  </b>
  By Ann Wiker, Oct/Nov Issue 2010
  <a href="http://sobovoice.com/sobo_voice_baltimore_magazine/Sobo-Voice-Oct_Nov_2010.pdf" target="_blank">Sobo Voice Magazine</a>
  <br/>

  <b>The Art of Energy,  </b>
  By Elizabeth Evitts Dickinson 12/10/08
  <a href="http://www.metropolismag.com/pov/?p=3292" target="_blank">Metropolis Magazine</a>
  <br/>

  <b>The Work of Eileen Wold,  </b>
  <a href="http://urbanpalimpsest.blogspot.com/2008/12/work-of-eileen-wold.html" target="_blank">Urban Palimpsest</a>
  <br/>

  <b>Miller Place Memories Mold Wold's World,  </b>
  By Nicole Cotroneo 7/9/04
  <%= link_to "North Shore Sun Paper", northshoresun_path %>
  <br/>
</span>
<br/>
</p>

<%= render "layouts/footer" %>
