<% content_for :html_head do %>
  <style type="text/css">
    .style1 {font-size: 11px}
    .style2 {font-size: 12px}
  </style>
<% end %>

<%= render "layouts/header" %>
  <p><br />
      <span class="style1">
			<br />

  <b>CONTACT</b><br/>
  <br/>
        Eileen T. Wold<br/>
				1409 William Street <br />
        Baltimore, MD 21230<br/>
        info@eileenwold.com<br>
				<br/>
				<br/>
  <b class="header">PRESS</b><br/>
				<b>The Art of Energy </b>By Elizabeth Evitts Dickinson 12/10/08
			<a href="http://www.metropolismag.com/pov/?p=3292" target="_blank">www.metropolismag.com</a>

			<br/><b>Miller Place Memories Mold Wold's World</b> By Nicole Cotroneo 7/9/04
      <%= link_to "North Shore Sun Paper", northshoresun_path %>
			</span><br/>
			<br/>
  <br/>
  <strong class="header style2">Links</strong><br/>
  <a href="http://www.mica.edu/" target="_blank">www.mica.edu</a></span><br/>
  <a href="http://www.kreegermuseum.org" target="_blank">www.kreegermuseum.org</a><br />
  <a href="http://www.collegeart.org" target="_blank">www.collegeart.org</a><br />
 <a href="http://www.thecreativecenter.org" target="_blank">www.thecreativecenter.org</a><br />
  <a href="http://www.loyola.edu/gallery" target="_blank">www.loyola.edu/gallery</a></span></span><span class="style1"><br />
  </span></p>
          </span><br/>
        </p>
  </p>
<%= render "layouts/footer" %>
