<% content_for :html_head do %>
<style type="text/css">
  .style1 {
    font-size: 10px
  }
</style>
<% end %>

<%= render "layouts/header" %>
  <p class="style1">
<div class="imgcap-right style1" style="float:right">
  <img src="/images/kreeger_speech.jpg" width="242" height="344" alt="Eileen Wold" border="0"><br/>
  <span class="imageCaption">
	  The Kreeger Museum, Monet Gallery<br>
    (<i>Left</i> Judy Greenberg, Director / <i>Right</i> Eileen Wold)<br>
    Photo by Erich Keel  </span></div>

<p class="style1">
<b>EDUCATION	</b>	<br>
<br>
<b>Maryland Institute College of Art</b> -
  MFA, Studio Art, 2010<br>
    <b>Loyola College, Maryland </b> -
  BA in Visual Art, 2000<br>
  <b>Art Academy of Leuven, Belgium</b>, 1998-1999<br>
  <b>Catholic University in Leuven, Belgium</b>,  1998-1999<br>
</p>
<p class="style1">
<b>EXHIBITIONS</b> 	<br>	<br>

<b>2nd and 3rd year Exhibition</b>, MICA, Baltimore, MD 7/2009<br>
<b>Arts Club of Washington</b>, Three person show, Washington, DC, 3/2009<br>
<b>2nd and 3rd year Exhibition</b>, MICA, Baltimore, MD 7/2008<br>
<b>Art and Soul Juried Exhibition</b>, Washington, DC 4/2008<br>
<b>ARTOMATIC</b>, Washington, DC,  4/2007 - 5/2007 <br>
<b>MOCA DC</b>, Washington, DC, September Days Show,  9/2006 <br>
<b>Brickbottom Gallery</b>, Somerville, MA, Pixel Project,  7/2006 - 8/2006 <br>
<b>Three Columns Gallery</b>, Harvard University, MA, Pixel Project, 4/2006 - 5/2006<br>
<b>Art and Soul Juried Exhibition</b>, Washington, DC 4/2006<br>
<b>Nowuno Gallery</b>, Washington, DC, 1/2006 - 3/2006<br>
<b>Creative Center Gallery</b>, Chelsea, New York, NY, 4x6 Show, 12/2005<br>
<b>Art Gotham Gallery</b>, Chelsea, New York, NY, 10/2005<br>
<b>Gallery 402</b>, Tribeca, New York, NY, 9/2005<br>
<b>Brooklyn Artists Gym Gallery</b>, Brooklyn, NY, 9/2005<br>
<b>Sona Gallery</b>, Bayshore Drive Art District, Naples, FL, 8/2005 - 7/2006<br>

<b>Montana Gallery</b>, West Yellowstone, Book Release Show, 8/2005<br>
<b>Gallery 402</b>, Tribeca, New York, NY, The Drawing Show, 6/2005<br>
<b>Tribute Art Gallery</b>, New York, NY, StreetWise Partners Show, 4/2005<br>
<b>Creative Center Gallery</b>, Chelsea, New York, NY, Small Works Show, 12/2004<br>
<b>Artists Space</b>, SOHO, New York, NY, Night of 1,000 Drawings, 11/2004<br>
<b>Silver Whale Gallery</b>, NOHO, New York, NY, Group Show, 9/2004<br>

<b>The BlueSky Gallery</b>, Chelsea, New York, NY, 8/2004 - 9/2004<br>
<b>Silver Whale Gallery</b>, NOHO, New York, NY, Group Show, 8/2004<br>
<b>31 Grand Gallery</b>, Brooklyn, NY, Group Show, 8/2004 <br>
<b>M1-5 SOHO</b>, New York, NY, Group Show, 8/2004<br>
<b>Solo Exhibition at Gallery Two</b>, Port Jefferson, NY, 7/2004<br>
<b>Solo Exhibition at 169 Bar</b>, New York, NY, 7/2004<br>

<b>Solo Exhibition at Dillon Scott, Inc. </b>, New York, NY, 4/2004 - 9/2004<br>
<b>Artists Space</b>, SOHO, New York, NY, Night of 1,000 Drawings, 11/2003<br>
<b>Solo Exhibition at Loyola College</b>, 4/2000 - 7/2000<br>
<b>Federal Reserve Bank of Baltimore</b>, Group Show, 1998 and 2000<br>
<b>Loyola College Art Gallery</b>, Group Show, 1998 and 2000<br>
<b>North Shore Art Guild of Long Island</b>, NY, Member Shows 1993-1997<br>
</p>

<p class="style1">
<b>TEACHING & OUTREACH</b> <br><br>
<b>Elements of Visual Thinking, Teaching Internship, MICA, Baltimore, MD</b>, Spring 2009<br>
<b>Elements of Visual Thinking, Teaching Internship, MICA, Baltimore, MD</b>, Fall 2008<br>
<b>Sculptural Forms, Teaching Internship, MICA, Baltimore, MD</b>, Spring 2008<br>
<b>Architecture: The Middle Ages and Beyond, The Kreeger Museum, DC</b>, 4/2008<br>
<b>Watercolor Workshop, Lane Clinic, Baltimore, MD</b>, Fall 2007<br>
<b>Art Workshops at The Kreeger Museum, Washington, DC</b>, Spring 2007<br>
<b>Self Portrait Workshop at First Class, Washington, DC </b>, 4/2007<br>
<b>Color Field Art Lecture and Workshop at Creative Center in New York, NY</b>, 2/2007<br>
<b>Drawing and Painting Workshops at First Class, Washington, DC </b>, Winter/Spring 2007<br>
<b>Architecture and Art Workshops at First Class, Washington, DC </b>, Fall 2006<br>
<b>Landscape Art Workshops at First Class, Washington, DC </b>, 5/2006 and 6/2006<br>
<b>Modern Art Lecture and Workshop at Creative Center in New York, NY</b>, 5/2006<br>
<b>Children's Art Workshops at The Kreeger Museum, Washington, DC</b>, 4/2006<br>
<b>Surrealism Lecture and Workshops at Creative Center in New York, NY</b>, 12/2005<br>
<b>Fall Art Exhibition, Terence Cardinal Cooke Hospital in New York, NY</b>, 10/2005<br>
<b>Take Back The News Art Sale and Fundraiser in Brooklyn, NY</b>, 10/2005<br>
<b>Oil Pastel Teacher at Creative Center in New York, NY</b>, 11/2004<br>
<b>Marymount School Spring Benefit, New York, NY</b>, donation of artwork, 2004<br>
<b>Children's National Medical Center</b>, speaker at ceremony and Artist, 2003<br>
<b>Loyola College Artist Survival Classes</b>, guest lecturer, 2002 and 2003<br>
<b>Maryland Public School</b>, guest lecturer on African Art, 2002<br>
</p>

<p class="style1">
<b>PUBLICATIONS AND ARTICLES</b> <br>	<br>
<b>The Art of Energy, Metropolis Magazine</b>, article by Elizabeth Evitts Dickinson, 12/2008<br>
<b>Artists-In-Residence, The Creative Center Approach to Arts in Healthcare</b>, featured Artist-in-Residence, 2006<br>
<b>Endless Journeys</b>, featuring original art photograph, Fall 2006<br>

<b>Washington Post</b>, Home Section, Art Class Featured, 5/2006<br>
<b>Parks Portrayed in Pen and Paint</b>, featuring three original works, published 8/2005<br>
<b>Dogwood Journal</b>, featured artist in April/May issue, 4/2005<br>
<b>The North Shore Sun</b> Cover Story of Weekend Section, 7/2004</b></p>

<p class="style1">
<b>AWARDS</b> <br>	<br>

<b>Loyola College Undergraduate Student Research and Scholarship Colloquium</b>, Art History research, 4/2000<br>
<b>Studio Art Award for Class of 2000</b>, 1998 and 1999<br>
<b>Who's Who Students in American Universities and Colleges</b>, 1996-1997<br>
</p>
<span class="style1"><br>


</p>
    </span>
<%= render "layouts/footer" %>
