<% content_for :html_head do %>
<style type="text/css">
  .style1 {
    font-size: 10px
  }
</style>
<% end %>

<%= render "layouts/header" %>
<p class="style1">
<b>EDUCATION</b>
<br />
<br />
<b>Maryland Institute College of Art</b> -
MFA, 2010
<br />
<b>Loyola University Maryland</b> -
BA, Visual Art, 2000
<br />
<b>Art Academy of Leuven, Belgium</b>, 1998-1999
<br />
<b>Catholic University in Leuven, Belgium</b>,  1998-1999
<br />
<br />
</p>

<p class="style1">
<b>EXHIBITIONS</b>
<br />
<br />
<b>2012</b>
<br />
<b>InFlux Gallery</b>, Water Sonettos, MD, 5/2012
<br />
<b>Slippery Rock University</b>, Green Exhibition, PA, 4/2012
<br />
<br />
<b>2011</b>
<br />
<b>University of Maryland Baltimore</b>, Solo exhibition, Empty Waters, MD, 1-4/2011
<br />
<b>California Museum of Photography</b>, Earth Through a Lens, CA, 4/2011
<br />
<b>Rancho Mirage Pubilc library</b>, Earth Through a Lens, CA, 4/2011
<br />
<b>Second Chance Warehouse</b>, Regeneration Show on Sustainability, Baltimore, MD, 4/2011
<br />
<br />
<b>2010</b>
<br />
<b>Soapbox Gallery</b>, Solo exhibition, Ambient Energy, Brooklyn, NY, 12/2010
<br />
<b>Goldman & Minton, Solo exhibition</b>, West Virginia Project, Baltimore, MD, 10/2010 - 1/2011
<br />
<b>Umbrella Arts</b>, Route 95 Artists Show, New York, NY, 7-8/ 2010
<br />
<b>Gormley Gallery</b>, College of Notre Dame of Maryland, Images from the Land, MD, 8-10/2010
<br />
<b>Conti, Fenn and Lawrence</b>, Solo exhibition, Baltimore, MD, 8-9/2010
<br />
<b>artdc Gallery</b>, Petroleum Show, Hyattsville, MD, 8/2010
<br />
<b>Pinkard Gallery</b>, MICA, Solo MFA Thesis Exhibition, Baltimore, MD 7/2010
<br />
<b>Axis Alley, Solo Art Installation</b>, Baltimore, MD, 5-7/2010
<br />
<b>Fabritory Exhibition</b>, Sustainability of North Avenue, Baltimore, MD, 4/2010
<br />
<br />
<b>2009</b>
<br />
<b>Pinkard Gallery</b>, 3rd year MFA Exhibition, MICA, Baltimore, MD, 7/2009
<br />
<b>Arts Club of Washington</b>, Solo exhibition, Washington, DC, 3/2009
<br />
<br />
<b>2008</b>
<br />
<b>Pinkard Gallery</b>, 2nd year MFA Exhibition, MICA, Baltimore, MD, 7/2008
<br />
<br />
<b>2007</b>
<br />
<b>ARTOMATIC</b>, Washington, DC,  4/2007 - 5/2007
<br />
<br />
<b>2006</b>
<br />
<b>MOCA DC</b>, Washington, DC, September Days Show,  9/2006
<br />
<b>Brickbottom Gallery</b>, Somerville, MA, Pixel Project,  7/2006 - 8/2006
<br />
<b>Three Columns Gallery</b>, Harvard University, MA, Pixel Project, 4/2006 - 5/2006
<br />
<b>Nowuno Gallery</b>, Washington, DC, 1/2006 - 3/2006
<br />
<br />
<b>2005</b>
<br />
<b>Creative Center Gallery</b>, Chelsea, New York, NY, 4x6 Show, 12/2005
<br />
<b>Art Gotham Gallery</b>, Chelsea, New York, NY, 10/2005
<br />
<b>Brooklyn Artists Gym Gallery</b>, Brooklyn, NY, 9/2005
<br />
<b>Sona Gallery</b>, Bayshore Drive Art District, Naples, FL, 8/2005 - 7/2006
<br />
<b>Montana Gallery</b>, West Yellowstone, Book Release Show, 8/2005
<br />
<b>Gallery 402</b>, Tribeca, New York, NY, The Drawing Show, 6/2005 and 9/2005
<br />
<b>Tribute Art Gallery</b>, New York, NY, StreetWise Partners Show, 4/2005
<br />
<br />
<b>2004</b>
<br />
<b>Creative Center Gallery</b>, Chelsea, New York, NY, Small Works Show, 12/2004
<br>
<b>Silver Whale Gallery</b>, NOHO, New York, NY, Group Show, 9/2004 and 9/2004
<br>
<b>The BlueSky Gallery</b>, Chelsea, New York, NY, 8/2004 - 9/2004
<br>
<b>31 Grand Gallery</b>, Brooklyn, NY, Group Show, 8/2004
<br>
<b>Gallery Two</b>, Solo Exhibiton, Port Jefferson, NY, 7/2004
<br>
<b>Dillon Scott</b>, Solo Exhibtion, New York, NY, 4 - 9/2004
<br>
<br />
<b>2000</b>
<br />
<b>Loyola University Baltimore, Humanities</b>, Senior Solo Exhibition, 4-7/2000
<br>
<b>Federal Reserve Bank of Baltimore</b>, Group Show, 1998 and 2000
<br>
<b>Loyola University Baltimore, Art Gallery</b>, Student Fine Art Show, 1998 and 2000
<br>
<br>
</p>

<p class="style1">
<br />
<b>PUBLICATIONS AND ARTICLES</b>
<br>
<br>
<b>Eileen Wold inspires as activist artist</b>, Loyola University Maryland Magazine, By Kim Hall, 11/17/11<br>
<b>'Empty Waters' Artist Delves Into Baltimore Harbor</b> Baltimore City's Best, By Libby Zay, 2/10/11<br>
<b>Artist portrays Baltimore's degraded harbor, The Baltimore Sun</b>, by Timothy B. Wheeler, 2/3/11
<br>
<b>Eileen Wold, SOBO Voice Magazine</b>, Featured artist,  by Ann Wiker, Oct/Nov 2010 issue
<br>
<b>The Art of Energy, Metropolis Magazine</b>, article by Elizabeth Evitts Dickinson, 12/2008
<br>
<b>Artists-In-Residence, The Creative Center Approach to Arts in Healthcare</b>, featured Artist-in-Residence, 2006
<br>
<b>Washington Post</b>, Home Section, Art Class Featured, 5/2006
<br>
<b>Parks Portrayed in Pen and Paint</b>, featuring three original works, published 8/2005
<br>
<b>Dogwood Journal</b>, featured artist in April/May issue, 4/2005
<br>
<b>The North Shore Sun</b> Cover Story of Weekend Section, 7/2004
</b>
 <br />
  <br />
 </p>

<p class="style1">
<b>TEACHING & OUTREACH</b>
<br>
<br>
<b>Climate Change and Sustainability Professor, MICA, Baltimore, MD</b>, Fall 2012<br>
<b>Panelist on Mountain Top Removal, College of Notre Dame of Maryland, Baltimore, MD</b>, 4/2012<br>
<b>Color Theory and 2D Design, Anne Arundel Community College, MD</b>, Fall 2010 and Spring 2011<br>
<b>Climate Change and Sustainability, MICA, Baltimore, MD</b>, Fall 2009 and Spring 2010<br>
<b>Elements of Visual Thinking, MICA, Baltimore, MD</b>, Fall2008 and Spring 2009<br>
<b>Sculptural Forms, MICA, Baltimore, MD</b>, Spring 2008<br>
<b>Watercolor Instructor, Lane Recovery Clinic, Baltimore, MD</b>, Fall 2007<br>
<b>Art instructor, The Kreeger Museum, Washington, DC</b>, 2006 - 2011<br>
<b>Architecture, landscape and drawing instructor at First Class, Washington, DC </b>, 2006 - 2007<br>
<b>Art History and Studio Art instructor, Creative Center for Arts in Healthcare, NY, NY</b>, 2004-2007<br>
<b>Artist-in-Residence, Terence Cardinal Cooke Hospital, NY, NY</b>, 2005<br>
<b>Children's National Medical Center</b>, lead artist and speaker at dedication ceremony, DC, 2003<br>
<b>Loyola University Artist Survival Classes</b>, guest lecturer, Baltimore, MD 2002 and 2003<br>
<b>Maryland Public School</b>, guest lecturer on African Art, 2002<br>
</p>

<p class="style1">
 <br />
<b>AWARDS</b> <br>  <br>

<b>Graduate Student Leadership Award, Maryland Institute College of Art </b>, Graduate Studies, 2010
<br>
<b>Loyola University Undergraduate Student Research and Scholarship Colloquium</b>, Art History research, 4/2000
<br>
<b>Loyola University Studio Art Award for Class of 2000</b>, 1998 and 1999
<br>
<b>Who's Who Students in American Universities and Colleges</b>, 1996-1997
<br>
</p>
<span class="style1"><br>


</p>
    </span>

<%= render "layouts/footer" %>
