        </td>
      </tr>
      <tr>
        <td class="footer" colspan="6">
          Copyright &copy; 1997-<%= Time.current.year %>
          &nbsp;&nbsp;&nbsp;
          Eileen T. Wold
          &nbsp;&nbsp;&nbsp;
          All Rights Reserved
        </td>
      </tr>
    </table>
  </body>
</html>
